@import "admin/base";
@import "admin/select2";

/* HEADER */

#header h1 img {  
  top: 0;
}

/* SHOW */

.attributes_table table {
  th {
    color: $form-label-color;
  }
}

.comments .active_admin_comment .active_admin_comment_meta {
  color: $text-color;
}

/* EDIT */

form {
  fieldset {
    ol > li {
      fieldset:not(.has_many_fields) ol {
        width: 80%;
      }
      label {
        text-transform: uppercase;
        font-size: 0.9em;        
      }
      &.boolean {
        label {
          font-size: 1.0em;
          color: $text-color;
        }
      }
      &.date_select {
        fieldset ol li {
          width: calc(33.33333% - 0.5em);
          &:last-child {
            margin-right: 0;
            width: 33.33333%;
          }
        }
      }
    }
  }
}


/* DATEPICKER */

.ui-datepicker .ui-datepicker-header {
  width: 162px;
}

/* FLASH */
.flash a {
  color: darken(#cb9810, 10%);
  text-decoration: underline;
  &:focus, &:hover {
    color: darken(#cb9810, 20%);
  }
}

/* STATUS TAG */
.status_tag {
  white-space: nowrap;
  &.yes {
    background: $primary-color;
  }
}

.off {
  display: none;
}
